@use "./scss/preflight.scss";
@use "./scss/colors";
@use "./scss/type.scss";
@use "./scss/size.scss";

html {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  background: url("../images/bg.jpg");
  background-size: cover;
  color: white;
}

.mx-auto {
  margin: 0 auto;
}

.backdrop{
  height: 100%;
  width: 100%;
  background: rgba(35, 34, 30, 0.3);
  z-index: 0;
  position: absolute;
  top:0;
  left:0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  .container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
  }
  .profile-nav{
    border-radius: 2rem;
    padding: 1rem 2rem;
    display: grid;
    text-align: center;
    align-content: start;
    gap: 3rem;
    .profile{
      line-height: 1.25;
      img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
      }
    }
  }
}